@using Orchard.Utility.Extensions;
@using System.Linq;
@using MainBit.Fields.ViewModels;
@{
    DateTimeRangeFieldViewModel viewModel = Model.Model;
    var _dateTimeRangeService = WorkContext.Resolve<MainBit.Fields.Services.IDateTimeRangeService>();
    var valueToDisplay = _dateTimeRangeService.DisplayString(viewModel);
    
    if (!string.IsNullOrEmpty(valueToDisplay))
    {
        string name = Model.ContentField.DisplayName;
        <p class="datetimerange-field datetimerange-field-@name.HtmlClassify()">
            <span class="name">@name:</span>
            <span class="value">@Html.Raw(valueToDisplay)</span>
        </p>

    }
}